@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif  !important;
    font-size: 1rem;
    max-width: 1920px;
    margin: auto;
    font-weight: 300;
}
hr {
    border-top: 1px solid #e31e24 !important;
}
.info {
    padding: 70px 0;
}

:root {
    --brand-red: #e31e24;
    --brand-green-light: #093f42;
    --brand-yellow: #f6cd24;
    --brand-orange: #e8841e;
    --brand-light: #fff4e9;
    --brand-brown: #B76800;
    --badge-opacity: .3;
    --font-montserrat: ;
    --font-playfair: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-playfair), serif;
}
.font-family-body{
    font-family: var(--font-montserrat), sans-serif;
}
.text-brand-red{
    color: var(--brand-red);
}
.text-brand-light{
    color: #888;
}

.btn-brand{

}


.navbar-bg{
    background: transparent !important;
}
.hero-bg{
    background: #194C4F;
    background: linear-gradient(109deg, rgba(25, 76, 79, 1) 0%, rgba(4, 5, 9, 1) 100%);
}

.btn{
    font-weight: 500;
    border-radius: 3.5rem;
    -webkit-border-radius: 3.5rem;
    -moz-border-radius: 3.5rem;
    -ms-border-radius: 3.5rem;
    -o-border-radius: 3.5rem;
    letter-spacing: 1px;
}
.btn-wide{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-brand {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--brand-red);
    --bs-btn-border-color: var(--brand-red);
    --bs-btn-hover-color: var(--brand-red);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--brand-red);
    --bs-btn-active-bg: var(--brand-red);
    --bs-btn-active-border-color: var(--brand-red);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--brand-red);
    --bs-btn-disabled-border-color: var(--brand-red);
}

.hr-brand{
    border-color: var(--brand-red) !important;
}

.img-wrap-circle{
    max-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    background-color: #888;
    overflow: hidden;
}
.circle-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    line-height: 50px;
}
    display: flex;
    align-items: end;
}

.alert-element{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 200px;
}






















/* FOOTER STARTS HERE */
.info-contact-bg{
    background-color: #DADADA;
}
.info-contact ul li a{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}
.info-contact ul li a:hover{
    color: #e63b27;
    transition: .3s ease-in-out;
}
.info-contact-content::after{
    position: absolute;
    content: '';
    background-color: #000;
    height: 80%;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.info-footer-bg{
    background-color: #000000;
}

.info-footer-bg p {
    color: #888;
    line-height: 22px;
    font-size: 12px;
}
.info-map-btn{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
.info-map-btn:hover{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
.info-map-content li{
    line-height: 3;
}
.info-footer-bg .info-content p{
    min-height: 100px;
}
.social-icons {
    display: flex;
}
.social-icons li a {
    margin-right: 6px;
    height: 30px;
    width: 30px;
    background: #737373 !important;
    color: #000 !important;
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-size: 1rem !important;
    border: 1px solid #737373;
    transition: .3s ease-in-out;
}
.social-icons li a:hover {
    background: #E63B27 !important;
    color: #fff !important;
    border: 1px solid #E63B27;

}
.info-quick-links-content{
    display: flex;
    justify-content: space-between;
}
.info-quick-links li a{
    color: #888;
    font-size: 12px;
    text-decoration: none;
}
hr {
    border-top: 1px solid #8b8b8b !important;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (max-width: 1399px) {

}
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
    .info-contact-content::after {
        position: absolute;
        content: '';
        background-color: #000;
        height: 2px;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media (max-width: 767px) {
    .info {
        padding: 30px 15px;
    }
    .info-contact ul li a {
        font-size: 14px;
        padding-top: 0;
    }
}
